.code {
  max-height: 70%;
}
.block {
  width: 45%;
  height: 100%;
  border-radius: 1em;
  padding: 0 1em;
  background: #f5f2f0;
}
.block h2 {
  border-bottom: solid #00b5ce;
  color: #00b5ce;
  margin: 2px 0 5px 0;
}
.customdropdown{
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; 
}
.select{
  position: relative;
  
}
.select select {
  -webkit-appearance: none;
  background-color: transparent;
  outline: 0;
  border:2px solid #c5c5c7;
  border-radius: 5px;
  margin-top: 1em;
  display: block;
  width: 100%;
  padding: 0px 15px;
  height: 3rem;
  font-size: 1rem;
  font-weight: 400;
}

.select svg {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 0;
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
  fill: #757577;
  pointer-events: none;
}