.copy {
  background: #dfdfdf;
  border: solid #c5c3c3;
  color: rgb(0, 0, 0) !important;
  border-radius: 0.6em;
  width: fit-content;
  height: 2rem;
  margin: 0.5rem;

}
.copy:hover{
  cursor: pointer;
  background-color: rgb(141, 137, 137);
}
.div {
  display: flex;
 
  justify-content: flex-end;
  margin: 0;
}
