.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 99;
  width: 100%;
  background: #000000e1;
  display: flex;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
}
